<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>进销存管理系统</title>
    <link rel="stylesheet" type="text/css" th:href="@{/elementui/elementui-2.5.4.min.css}"/>
    <script type="text/javascript" th:src="@{/vue/vue-2.6.6.min.js}"></script>
    <script type="text/javascript" th:src="@{/vue/vue-resource.1.5.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/vue/vue-router.3.0.2.js}"></script>
    <script type="text/javascript" th:src="@{/vue/vue-i18n.8.8.2.js}"></script>
    <script type="text/javascript" th:src="@{/elementui/elementui-2.5.4.min.js}"></script>
    <script type="text/javascript" th:src="@{/elementui/elementui-zh-CN.js}"></script>
</head>
<body>
    <div id="app">
        <el-container>
            <el-header height="150px">
                <el-row>
                    <el-col :span="6" :offset="10">
                        <h1>进销存管理系统</h1>
                    </el-col>
                </el-row>
            </el-header>
            <el-main>
                <el-row>
                    <el-col :span="6" :offset="8" margin-top="500px">
                        <div class="grid-content bg-purple">
                            <el-form id="loginForm" action="/login.action" method="post" :model="ruleForm2" status-icon :rules="rules2" ref="ruleForm2" label-width="100px" class="demo-ruleForm">
                                <el-form-item label="账号" prop="username">
                                    <el-input type="text" name="username" v-model="ruleForm2.username" autocomplete="off"></el-input>
                                </el-form-item>
                                <el-form-item label="密码" prop="password">
                                    <el-input type="password" name="password" v-model="ruleForm2.password" autocomplete="off"></el-input>
                                </el-form-item>
                                <el-form-item>
                                    <el-button type="primary" @click="submitForm('ruleForm2')">提交</el-button>
                                    <el-button @click="resetForm('ruleForm2')">重置</el-button>
                                </el-form-item>
                            </el-form>
                        </div>
                    </el-col>
                </el-row>
            </el-main>
        </el-container>
    </div>
<script>
    var vm = new Vue({
        el:'#app',
        data() {
            var validateUserName = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('请输入账号'));
                }else{
                    callback();
                }
            };
            var validatePass = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('请输入密码'));
                }else{
                    callback();
                }
            };
            return {
                ruleForm2: {
                    username: '',
                    password: ''
                },
                rules2: {
                    username: [
                        { validator: validateUserName, trigger: 'blur' }
                    ],
                    password: [
                        { validator: validatePass, trigger: 'blur' }
                    ]
                }
            };
        },
        methods: {
            submitForm(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        document.getElementById('loginForm').submit();
                    } else {
                        this.$message('请您检查填写是否规范!');
                        return false;
                    }
                });
            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
            }
        }
    });
</script>
</body>
</html>