<head th:fragment="headFragment">
    <meta charset="UTF-8"/>
    <title>进销存管理系统</title>
    <link rel="stylesheet" type="text/css" th:href="@{/elementui/elementui-2.5.4.min.css}"/>
    <script type="text/javascript" th:src="@{/vue/vue-2.6.6.min.js}"></script>
    <script type="text/javascript" th:src="@{/vue/vue-resource.1.5.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/vue/vue-i18n.8.8.2.js}"></script>
    <script type="text/javascript" th:src="@{/elementui/elementui-2.5.4.min.js}"></script>
    <script type="text/javascript" th:src="@{/elementui/elementui-zh-CN.js}"></script>
    <style>
        a{text-decoration:none;}
    </style>
</head>